<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DramaWiki Login</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div>
		<form action="../controladores/rota.php?acao=entrarUsuario" method="POST">
			<h1>Login Usuário</h1><br>
			<label>Email:</label><br>
			<input type="text" name="email" required><br>
			<label>Senha:</label><br>
			<input type="password" name="senha" required><br><br>
			<a href="../controladores/rota.php?acao=formCadastrarUsuario">Ainda não é cadastrado?</a>
			<button>Entrar</button>
		</form>
	</div>
</body>
</html>